body {
    background: #1a1a1d;
    color: #ffffff;
    margin-top: 5rem;
}

.bg-steel{
    background-color: #6f2232;
}

.site-header .navbar-nav .nav-link .nav{
    color: #ffffff;
}

.site-header .nav-link .nav-link .nav:hover {
    color: #4e4e50;
}

.site-header .nav-link .nav-link .nav:active {
    font-weight: 500;
    color: #4e4e50;
}

a {
    color: #3a0913;
}

.nav-white {
    color: #ffffff;
}

.content-section {
    background: #4e4e50;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

.article-content {
    white-space: pre-line;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}


img {
    max-width: 100%
}

.image {
    flex-basis: 40%
}

.text {
    font-size: 20px;
    padding-left: 20px;
}