{% extends "layout.html" %}

{% block content %}
    
    <h1 style="text-align:center">Data Science</h1>
    
    
    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300px height=300px style="float: left;" src="static/pictures/data-glacier.png">
        </div>
        <div class="text">  
            <h2 style="text-align:center"><a class="article-title"  href="https://github.com/TheHamhams/dg_group_project">Internship Project</a></h2>
            <p class="article-content">This project was done as part of my internship at Data Glacier. My group was given a database of patients and were tasked with developing a ML model to predict whether a patient would respond to the medication. Our group scored highest in the cohort.</p>
        </div>  
    </article>

    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/taxi.png">
        </div>
        <div class="text">  
            <h2 style="text-align:center"><a class="article-title" href="https://github.com/TheHamhams/taxi/blob/main/Deliverables/taxi_notebook.ipynb">Taxi Project</a></h2>
            <p class="article-content">This project is the first from my internship. As a group the interns were asked to use the data provided to determine which fictional taxi company a theoretical company should invest in.</p>
        </div>  
    </article>

    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/dg-housing.png">
        </div>
        <div class="text">  
            <h2 style="text-align:center"><a class="article-title" href="https://github.com/TheHamhams/DG-Housing">Full Stack Housing Price Prediction</a></h2>
            <p class="article-content">This is my first project using Flask. I used a simple ML model to predict how much a house would cost given certain variables. <a href="https://shrouded-meadow-77059.herokuapp.com/">Heroku link for the app</a></p>
        </div>  
    </article>

{% endblock %}