{% extends "layout.html" %}

{% block content %}
    
    <h1>Data Science</h1>
    
    
    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/data-glacier.png">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://github.com/TheHamhams/dg_group_project">Internship Project</a></h2>
            <p class="article-content">Blah blah blah</p>
        </div>  
    </article>

    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/taxi.png">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://github.com/TheHamhams/taxi/blob/main/Deliverables/taxi_notebook.ipynb">Taxi Project</a></h2>
            <p class="article-content">Blah blah blah</p>
        </div>  
    </article>

    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/dg-housing.png">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://github.com/TheHamhams/DG-Housing">Full Stack Housing Price Prediction</a></h2>
            <p class="article-content">Blah blah blah<a href="https://shrouded-meadow-77059.herokuapp.com/">Heroku link</a></p>
        </div>  
    </article>

{% endblock %}