{% extends "layout.html" %}

{% block content %}
    
    <h1>Flask</h1>
    
    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/st-housing.png">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://hamren-housing.herokuapp.com/">Housing Prediction App</a></h2>
            <p class="article-content">I created another streamlit app using my Kaggle Housing Competition Data. I wanted to use a model that included more complex data and one hot encoding. Please just remember the housing prices are from years ago, so it does not reflect the current crazy housing market. <a href='https://github.com/TheHamhams/housing-flask'>Github Repo</a></p>
        </div>  
    </article>

    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/nfl-app.png">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://hamren-nfl-app.herokuapp.com/home">NFL APP</a></h2>
            <p class="article-content">This app uses information from my NFL api to populate the information. All the data is obtained through the API and will be updated when the API gets updated. <a href='https://github.com/TheHamhams/nfl-app'>Github Repo</a></p>
        </div>  
    </article>

    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/nfl-api.png">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://hamren-nlf-api.herokuapp.com/team/0">NFL API</a></h2>
            <p class="article-content">This is an API that has basic information for each NFL league, division, and team. Each group has its own SQL table and has relationships as well. Basic authentication using enviromental variables are used to prevent unauthorized put, patch, or delete requests. <a href='https://github.com/TheHamhams/nfl-api'>Github Repo</a></p>
        </div>  
    </article>
    
    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/home.jpg">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://github.com/TheHamhams/portfolio">Portfolio Site</a></h2>
            <p class="article-content">This is the site you are currently viewing. I built it from the ground up. The sections are hard coded so there are no forms or databases in this project. The web app is hosted through Heroku.</p>
        </div>  
    </article>
    
    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/spaceship.png">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://hamren-spaceship-titanic.herokuapp.com/">Spaceship Titanic App</a></h2>
            <p class="article-content">This app is based on the Kaggle Spaceship Titanic competition. It is my first app using Streamlit. The model itself needs some fine tuning, but my main focus was creating the app. The web app is hosted through Heroku.</p>
        </div>  
    </article>
{% endblock %}