{% extends "layout.html" %}

{% block content %}
    
    <h1>Flask</h1>
    
    
    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/home.jpg">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://github.com/TheHamhams/portfolio">Portfolio Site</a></h2>
            <p class="article-content">This is the site you are currently viewing. I built it from the ground up. The sections are hard coded so there are no forms or databases in this project. The web app is hosted through Heroku.</p>
        </div>  
    </article>
{% endblock %}