{% extends "layout.html" %}
{% block content %}
<h1>Welcome!</h1>

<center style="padding-bottom: 20px">
    <img  class="rounded-circle" src="static/pictures/home.jpg" alt="Description for image" width="500" height="500">
</center>

<p>My name is Corey Hamren and I am a stay at home father who is starting my career in programing.</p>
<ul>I have been many things in my life, now I am looking to start working in:
    <li style="padding-top: 15px">Data Science</li>
    <li>Software Engineering</li>
    <li>Backend Development</li>
    <li>Data Analysis</li>
</ul>
{% endblock %}