{% extends "layout.html" %}

{% block content %}
    
    <h1>JavaScript</h1>
    
    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/budget-api.png">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://github.com/TheHamhams/personal-budget">Envelope Budget API</a></h2>
            <p class="article-content">This project was completed from a Codecademy prompt. The project was to create a budget API using the concept of budget envelopes. The routes allow one to GET, POST, PUT, and DELETE envelopes, budget items, and budgets. I made it using ExpressJS.</p>
        </div>  
    </article>


{% endblock %}