{% extends "layout.html" %}

{% block content %}
    
    <h1>Kaggle</h1>
    
    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/housing.png">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://www.kaggle.com/code/coreyhamren/housing-prices-top-1/notebook">Housing Price Calculator</a></h2>
            <p class="article-content">For this Kaggle competition I really wanted to take my time and try and make it as accurate as possible by cleaning all the rows by hand. I wanted to do so for get a higher show, and demonstrate I can work with data in a meaningful way. When I submitted my notebook it was in the <strong>top 1%</strong> of submissions.</p>
        </div>  
    </article>

    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/titanic.jpg">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://www.kaggle.com/code/coreyhamren/titanic-notebook">Titanic</a></h2>
            <p class="article-content">This was the first Kaggle competition i completed. I tried to keep my transformations simple, but even so I was able to score in the <strong>top 10%</strong> at the time of submission.</p>
        </div>  
    </article>

    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/gentleman-broncos.jpeg">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://www.kaggle.com/datasets/coreyhamren/gentleman-broncos-transcript">Gentleman Broncos Database</a></h2>
            <p class="article-content">I wanted to use quotes from <em>Gentleman Broncos</em> for a project of mine, but there were no databases online, only scripts that lacked information on who spoke the lines. I created this simple database to give me the data I was looking for.</p>
        </div>  
    </article>
{% endblock %}