{% extends "layout.html" %}

{% block content %}
    
    <h1>Kaggle</h1>
    
    
    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/titanic.jpg">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://www.kaggle.com/code/coreyhamren/titanic-notebook">Titanic</a></h2>
            <p class="article-content">Blah blah blah</p>
        </div>  
    </article>
{% endblock %}