{% extends "layout.html" %}

{% block content %}
    
    <h1>NLP</h1>
    
    
    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/sitting-tree.png">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://github.com/TheHamhams/sitting-tree-parser-by-language">Sitting Tree Parser</a></h2>
            <p class="article-content">Blah blah blah</p>
        </div>  
    </article>

    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/30-rock.jpeg">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://github.com/TheHamhams/30-Rock">30 Rock Web Scraping and Database Creation</a></h2>
            <p class="article-content">Blah blah blah</p>
        </div>  
    </article>
    
{% endblock %}