{% extends "layout.html" %}

{% block content %}
    
    <h1>NLP</h1>
    
    
    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/sitting-tree.png">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://github.com/TheHamhams/sitting-tree-parser-by-language">Sitting Tree Parser</a></h2>
            <p class="article-content">At my current position at <a href="https://www.linkedin.com/company/sia-precision-education/">Sia Precision Education</a> I was tasked with scrapping a large dataset of repos known as <a href="https://github.com/EleutherAI/the-pile">The Pile</a> which contains tens of thousands of repos. I created this pipeline to find all functions with docstrings for a given programming language and upload them to huggingface.</p>
        </div>  
    </article>

    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/30-rock.jpeg">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://github.com/TheHamhams/30-Rock">30 Rock Web Scraping and Database Creation</a></h2>
            <p class="article-content">I wanted to create chat bots using lines from the 30 Rock TV show. Unfortunatel, the only ones I found were messy and did not have the name of the character who spoke the line. While I have not been able to make said bot, I created a pipeline to scrape the scripts and turn it into a JSON file where the names can easily be added.</p>
        </div>  
    </article>
    
{% endblock %}