{% extends "layout.html" %}

{% block content %}
    
    <h1>Unity</h1>
    
    
    <article class="media content-section">
        <div class="image">
            <img class="rounded-circle article-image" width=300 height=300 style="float: left;" src="static/pictures/farm-idol.png">
        </div>
        <div class="text">  
            <h2><a class="article-title" href="https://simmer.io/@Hamhams/farm-idol-v2">Farm Idol</a></h2>
            <p class="article-content">This was my first major coding project. I wanted to make a small farming mini game and am still happy with how it turned out. The images are simple designs since I do not have much artistic talent, but they were made by me. Unfortunately the code got lost when I switched my OS from Microsoft to Linux, but it can still be played on <a href="https://simmer.io/@Hamhams/farm-idol-v2">Simmer</a>. You do need to have a keypad to play.</p>
        </div>  
    </article>
{% endblock %}